BOT_TOKEN=8601848192:AAG2Zqnp1VHOsLLx-GeCNTJElkeamlXsLVA
ADMIN_ID=ZarkonAI

AI_PROVIDER=gemini
GEMINI_API_KEY=AQ.Ab8RN6KiUQnifuGGNQvuV3BjPHBUk8OfaNTkrWi36kol6vEgxw

GROQ_API_KEY=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
OPENROUTER_API_KEY=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
OLLAMA_BASE_URL=http://localhost:11434

DATABASE_PATH=database/astra_taro.db
WEBAPP_URL=https://astra_tarot.com